* {
  margin: 0;
  padding: 20px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: #777; }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  70% {
    transform: translate(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes tickle {
  0% { }
  25% {
    transform: rotate(10deg); }
  75% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0); } }

@keyframes fadesUP {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  75% {
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    transform: translate(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

h3 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: .05rem;
  margin-bottom: -1rem; }

p {
  font-weight: 300;
  letter-spacing: .1rem;
  position: relative;
  bottom: 2rem; }

.About-heading2 {
  position: relative;
  bottom: 2rem; }

.heading-2-para {
  position: relative;
  bottom: 4rem; }

.section-about {
  background-color: rgba(238, 236, 236, 0.664);
  height: 110vh;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: -27vh;
  padding: 25rem 0; }
  .section-about .heading-secondary {
    position: relative;
    color: transparent;
    text-align: center;
    bottom: 6rem;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #16dd9bcc, #198306c4);
    -webkit-background-clip: text; }
    .section-about .heading-secondary:hover {
      transform: skewY(2deg) skewX(5deg) scale(1.05);
      text-shadow: .5rem 1rem 2rem gray; }

.discButton {
  background-color: aliceblue;
  text-align: center;
  font-size: 1.4rem;
  display: inline-block;
  text-decoration: none;
  color: #777;
  font-weight: 400;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  animation-name: fadesUP;
  top: 3rem;
  position: relative;
  animation-duration: 2.2s;
  box-shadow: 0 0.5rem 0.5rem rgba(83, 80, 80, 0.788); }

.discButton:hover {
  transform: scale(1.05); }

.discButton:active {
  transform: scale(1.05); }

.About-learnMore {
  text-decoration: none;
  font-weight: 300;
  color: #28b485;
  position: absolute;
  left: 5.5rem;
  bottom: 4rem;
  padding: 1rem; }
  .About-learnMore:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 1rem;
    top: 3.69rem;
    border-width: 0 0 1px;
    border-style: solid; }
  .About-learnMore:hover {
    background-color: #28b485;
    color: aliceblue;
    transform: translateY(-0.1rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, #198306c4, #16dd9bcc), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }

.logo-box {
  position: absolute;
  top: 3rem;
  left: 1rem; }

.logo-box:hover {
  animation-name: tickle;
  animation-duration: 0.5s; }

.font-box {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading {
  color: aliceblue;
  display: block;
  font-weight: 400;
  letter-spacing: 3.2rem;
  font-size: 5rem;
  line-height: .9rem;
  animation-name: moveinleft;
  animation-duration: 1.5s; }

.subHeading {
  color: aliceblue;
  display: block;
  font-weight: 400;
  letter-spacing: 1.6rem;
  font-size: 1.8rem;
  animation-name: moveinright;
  animation-duration: 1.5s;
  text-align: center; }

.row {
  position: relative;
  bottom: 7rem;
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% -6rem) /2); }

.composition {
  position: relative; }
  .composition__photo {
    width: 23%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.555);
    position: absolute;
    padding: 0;
    z-index: 1;
    transition: all .2s;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      top: 5rem;
      left: 62rem; }
    .composition__photo--p2 {
      left: 85rem;
      top: 10rem; }
    .composition__photo--p3 {
      left: 73rem;
      top: 18rem; }
    .composition__photo:hover {
      transform: scale(1.15);
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
      z-index: 2;
      outline: 1rem solid #7ed56f; }
