.composition{
      position: relative;
    &__photo{
        width: 23%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.555);
        position: absolute;
        padding: 0;
        z-index: 1;
        transition :all .2s ;
        outline-offset: 1.5rem;
    
        &--p1{
            top: 5rem;
         left: 62rem;
        }
        &--p2{
         left: 85rem;
         top: 10rem;
        }
        &--p3{
            left: 73rem;
            top:18rem;
        }
        &:hover{
            transform: scale(1.15);
            box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
            z-index: 2;
            outline: 1rem solid $primary-color;
           
            
        }     
    }
   
}