//about sections's headings and paragraphs
h3{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 400; 
    line-height:2rem ;   
    letter-spacing: .05rem;
    margin-bottom: -1rem;
    
}
p{
    font-weight: 300; 
    letter-spacing: .1rem; 
    position: relative;
    bottom: 2rem;  
}
.About-heading2{
    position: relative;
    bottom: 2rem;
}
.heading-2-para{
    position: relative;
    bottom: 4rem;
}

.feature-heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
}
.feature-para{
    font-size: 1.3rem;
    font-weight: 400;
    

}

