.row{
    position: relative;
    bottom: 7rem;
    max-width: $grid-width ;
    
    margin: 0 auto;
   

    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }
    @include clearfix;
    
    [class^="col-"] {
        
        float: left;
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }

    }
    .col-1-of-2{
        width: calc((100% -#{$gutter-horizontal}) /2);
    }

  

}

.columnz {
    margin-top: 6.5rem;
    float: left;
    border-radius: .2rem;
    text-align: center;
    width: 18%;
    margin-right: 3rem;
    background-color: rgba(245, 245, 245, 0.89);
    padding: 1rem;
    padding-top: 3rem;
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.582);
    height: 27rem ;
    &:last-child{
     margin-right: 0rem;
    }
    &:first-child{
        margin-left: 11rem;
    }
    &:hover{
        transform: translateY(-1rem) scale(1.01);
    }
  }
  
  /* Clear floats after the columns */
  .rowz:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .columnz {
      width: 100%;
      
    }
  }

  .columnzz {
    margin-top: 6.5rem;
    float: left;
    border-radius: .2rem;
    text-align: center;
    width: 25%;
    margin-right: 3rem;
    background-color: transparent ; 
    padding: 0rem;
    padding-top: 0rem;
    
    
    
    height: 45rem ;
    &:last-child{
     margin-right: 0rem;
    }
    &:first-child{
        margin-left: 12rem;
    }
    
  }
  
  .rowzz{
      position: relative;
     
      padding: 0;
      bottom: 7rem;

     
  }
  .rowzz:after {
    content: "";
    display: table;
    clear: both;
  }
  




  .columni {
    &:first-child{
      margin-left: 0;
    }
    margin-left: 18rem;
    float: left;
    width: 42%;
    border-top: 2px green solid;
    padding: 2rem;
  }
  
  /* Clear floats after the columns */
  .rowi:after {
    content: "";
    display: table;
    clear: both;
  }