.header{
    height: 95vh;
    
    background-image: linear-gradient(to bottom right,#198306c4,#16dd9bcc) , url(../img/hero.jpg);
    background-size: cover;
    background-position:top;
    clip-path: polygon(0 0,100% 0 ,100% 75%, 0 100%);
}

.logo-box{

 position: absolute;
 top: 3rem;
 left: 1rem;

}
.logo-box:hover{
    animation-name: tickle;
    animation-duration: 0.5s;
}
.font-box{

    position: absolute;
    text-align: center;
    top:40%;
    left:50% ;
    transform: translate(-50%,-50%);
}
.heading{
   color:$color-white;
   display: block;
   font-weight:400;
   
   letter-spacing: 3.2rem;    
   font-size: 5rem;
   line-height: .9rem;
   animation-name: moveinleft;
   animation-duration: 1.5s;
   
}
.subHeading{
   
    color: $color-white;
   display: block;
   font-weight:400;
   letter-spacing: 1.6rem; 
   font-size: 1.9rem;
   animation-name: moveinright;
   animation-duration: 1.5s;
   text-align: center;
  

}